## Coursera Capstone Project

This notebook will be used to present **Coursera Capstone Project**

### WEEK 1 - ASSIGNMENT: *Capstone Project Notebook*

In [1]:
import pandas as pd 
import numpy as np

In [2]:
print ('Hello Capstone Project Course!')

Hello Capstone Project Course!

### WEEK 3 - ASSIGNMENT : *Segmenting and Clustering Neighborhoods in Toronto*

------------------------------------------------------------------------------------------------------------------
**PART 1**

In this part, we will explore and cluster the neighborhoods in Toronto.  
We will use pandas library to import the needed data from Wikipedia including the postal codes of Toronto.

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [4]:
tables = pd.read_html(url)

There are many tables in the url. So we will choose table 0 which includes the data we want.

In [5]:
df = tables[0]

In [6]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

We will exclude all the rows that have **Borough** not assigned.

In [7]:
df_clean = df[df.Borough != "Not assigned" ]

In [8]:
df_clean.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [9]:
for index, row in df_clean.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

We will combine into one row all the neighborhoods with the same pastal code separated with a comma.

In [10]:
df_Toronto = df_clean.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.head(11)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
8       M8A      Not assigned      Not assigned
9       M9A  Downtown Toronto      Queen's Park
10      M1B       Scarborough             Rouge

In [11]:
df_Toronto.shape

(103, 3)