## Coursera Capstone Project

This notebook will be used to present **Coursera Capstone Project**

### WEEK 1 - ASSIGNMENT: *Capstone Project Notebook*

In [18]:
import pandas as pd 
import numpy as np

In [19]:
print ('Hello Capstone Project Course!')

Hello Capstone Project Course!

### WEEK 3 - ASSIGNMENT : *Segmenting and Clustering Neighborhoods in Toronto*

------------------------------------------------------------------------------------------------------------------
**PART 1**

In this part, we will explore and cluster the neighborhoods in Toronto.  
We will use pandas library to import the needed data from Wikipedia including the postal codes of Toronto.

In [20]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [21]:
tables = pd.read_html(url)

There are many tables in the url. So we will choose table 0 which includes the data we want.

In [22]:
df = tables[0]

In [23]:
df = df.rename(columns={'Neighbourhood': 'Neighborhood'})
df.head(10)

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A      Queen's Park      Not assigned
8      M8A      Not assigned      Not assigned
9      M9A  Downtown Toronto      Queen's Park

We will exclude all the rows that have **Borough** not assigned.

In [24]:
df_clean = df[df.Borough != "Not assigned" ]

In [25]:
df_clean.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [26]:
for index, row in df_clean.iterrows():
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']
df_clean.head(11)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Queen's Park
9       M9A  Downtown Toronto      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North
14      M4B         East York  Woodbine Gardens

We will combine into one row all the neighborhoods with the same pastal code separated with a comma.

In [27]:
df_Toronto = df_clean.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df_Toronto.head(10)

  Postcode      Borough                                     Neighborhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [28]:
df_Toronto.shape

(103, 3)

------------------------------------------------------------------------------------------------------------------
**PART 2**

In this part we will assign to each of the Toronto postal code a latitude and a longitude.
To do so we will use the below csv including the data per postal code.

In [29]:
Geospatial_data = pd.read_csv('https://cocl.us/Geospatial_data')

In [30]:
Geospatial_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

We proceed with joining the two tables in one.

In [31]:
df_TorGeo = df_Toronto.join(Geospatial_data)

In [32]:
df_TorGeo.head()

,Postcode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [33]:
df_TorGeo = df_TorGeo.drop('Postcode', axis=1)
df_TorGeo = df_TorGeo[['Postal Code', 'Borough', 'Neighborhood', 'Latitude', 'Longitude']]
df_TorGeo.head(11)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304